@font-face {
  font-family: "AntiqueOlive-BoldCond";
  font-style: normal;
  font-weight: bold;
  src: url("AntiqueOlive-BoldCond.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "AntiqueOlive-Compact";
  font-style: normal;
  font-weight: 400;
  src: url("AntiqueOlive-Compact.woff") format("woff");
  font-display: swap;
}

