.countdown {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.countdown h4 {
  font-family: 'AntiqueOlive-Compact', 'Exo 2', sans-serif;
  align-self: center;
  color: #C12B34;
}
